@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 225deg 59% 35%;
    --color-secondary: 112deg 75% 50%;
  }

  .theme-est {
    --color-primary: 345deg 59% 35%;
    --color-secondary: 13deg 75% 80%;
  }

  .theme-uganda {
    --color-primary: 20deg 59% 35%;
    --color-secondary: 203deg 75% 50%;
  }
}
